# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
*.log

# Build files
build/
dist/
*.egg-info/
